<!-- REGISTER -->
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <div class="form-names">
        <div class="name-left">
            <label for="first-name">First Name</label>
            <input type="text" name="first-name" id="first-name">
        </div>
        
        <div class="name-right">
            <label for="last-name">Last Name</label>
            <input type="text" name="last-name" id="last-name">
        </div>
    </div>

    <div class="form-email">
        <label for="email">Email</label>
        <input class="big" type="email" name="email" id="email">
    </div>

    <div class="form-password">
        <div class="password-left">
            <label for="Password">Password</label>
            <input class="big" type="password" name="password" id="password">
            <img class="eye" src="{% static 'images/Show_password.svg' %}" alt="">
        </div>
        <div class="password-right">
            <label for="confirmation">Confirm Password</label>
            <input class="big" type="password" name="confirmation" id="confirmation">
            
        </div>
        <div class="password-check">
            <label for="slidebar">Strength</label>
            <div class="slidebar" name="slidebar" id="slidebar"></div>
        </div>
        <div class="password-advice">
            <ul>
                <li class="advice">Your password strength is low, we suggest to make it stronger !</li>
                <li class="advice">Contains at least one uppercase letter</li>
                <li class="advice">Contains at least one special character</li>
                <li class="advice">Contains at least one number</li>
            </ul>
        </div>
    </div>

    <button class="btn-social primary" type="submit">Sign Up</button>
</form>
<!-- END REGISTER -->

<!-- LOGIN -->
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-email">
        <label for="email">Email</label>
        <input class="big" type="email" name="email" id="email">
    </div>
    <div class="form-password">
        <label for="password">Password</label>
        <input class="big" type="password" name="password" id="password">
        <img class="eye" src="{% static 'images/Show_password.svg' %}" alt="">
    </div>
    <button class="btn-social primary" type="submit">Sign Up</button>
</form>
<!-- END LOGIN -->